#toolbar{
  display: flex;
  justify-items: space-between;
  align-items: center;
  box-shadow: 0px 5px 30px 5px rgba(100,100,100,0.1);
  width: 100%;
  padding: 0px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #fff;
  height: 40px;
}

#tb-left{
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

#tb-left #menu{
  color: #333;
  font-size: 29px;
}

#tb-left #title{
  font-weight: bold;
  font-size: 18px;
  color: var(--primary);
  font-family: "Jetbrains Mono";
}

#tb-right{
  display: flex;
  align-items: center;
  gap: 17px;
}

#tb-right span{
  font-size: 11px !important;
  size: 12px;
  height: 12px;
}


#tabs{
  box-shadow: 0px 5px 30px 5px rgba(100,100,100,0.1);
  width: 100%;
  padding: 15px 10%;
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 1000;
  background: #eee;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tabs span{
  font-size: 14px;
  font-family: "Montserrat";
  color: #666;
}

.seltab{
  color: #000 !important;
  font-weight: bold !important;
  font-size: 14px !important;
  background: #fff;
  border-radius: 6px;
  padding: 3px 15px;
  font-family: "Poppins";
}

/* List and items */

#contents{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin-top: 82px;
  align-items: center;
}


.item{
  width: 100%;
}

.item2{
  display: flex;
  align-items: flex-start;
  padding: 5px 12px;
  gap: 4px;
}

.photo{
  background: var(--primary3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-family: "Inter";
}

.item3{
  flex: 1;
}

.name-opt{
  display: flex;
  justify-content: space-between;
}


.names{
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.name1{
  font-weight: 900;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.name2{
  color: var(--primary-blue2);
  font-size: 12px;
  display: none;
  margin-left: 2px !important;
}

.name3{
  color: #99a;
  margin-left: 3px !important;
  font-size: 13px;
}

.des{
  color: #444;
  font-size: 14px;
}

.img{
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  float: right;
  margin-left: 3px;
  min-height: 180px;
}

.more{
  display: flex;
  align-items: center;
  gap: 8px;
}

.type{
  background: var(--primary3);
  border-radius: 15px;
  padding: 6px 6px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin-top: 8px;
  font-family: "Inter";
}

.bathroom{
  background: transparent;
  border-radius: 15px;
  padding: 6px 6px;
  color: #555;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  border: 0.6px solid #eee;
  margin-top: 8px;
  display: none;
}

.toilet{
  background: transparent;
  border-radius: 15px;
  padding: 6px 6px;
  color: #555;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  border: 0.4px solid #eee;
  margin-top: 8px;
  display: none;
}

.kitchen{
  background: transparent;
  border-radius: 15px;
  padding: 6px 6px;
  color: #555;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  border: 0.4px solid #eee;
  margin-top: 8px;
  display: none;
}

.rating{
  background: transparent;
  border-radius: 15px;
  padding: 6px 6px;
  color: #555;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  border: 0.4px solid #eee;
  margin-top: 8px;
  display: flex;
  gap: 3px;
}

.star{
  font-size: 12px;
  color: var(--primary);
}

.more2{
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
}

.price{
  font-weight: bold;
  font-family: "Lato";
}

.negotiable{
  font-size: 12px;
}

.landmark{
  font-size: 12px;
}

.more3{
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-top: 8px !important;
}

.view{
  padding: 10px 5px !important;
  width: 70%;
}


.call{
  padding: 10px 5px !important;
  width: 26%;
}

.thin-end{
  width: 100%;
  height: 0.9px;
  background: #eee;
  margin-top: 10px;
}

